*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image:url(bg.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80rem;
    height: 40rem;
    background-color: rgb(243, 243, 164);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 50px;
    margin-top: 50px;
    box-shadow: 0 2rem 6rem rgba(250, 250, 250, 0.866);

}

.cards-container{
     width: 65rem;
     height: 35rem;
     margin-left: 60px;
     flex-wrap: wrap;
     gap: 20px;
     display: grid;
  grid-template-columns: auto auto auto;


}

.cards{
    width:310px ;
    height: 250px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:auto;
    border-radius: 5px;
    box-shadow: 15px 10px 5px rgba(15, 15, 15, 0.232);
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

#left-ease-in{
    animation-name: left;
}

#right-ease-in{
     animation-name: right ;
}

#top-ease-in{
    animation-name: top;
}

#bottom-ease-in{
    animation-name: bottom;
}

@keyframes left {
  from{
        margin-left: -100px;
  }
  to{
        margin-left: 0px;
  }
}

@keyframes right {
    from{
          margin-right: -140px;
    }
    to{
        margin-right: 0px;
    }
  }
  @keyframes top {
    from{
          margin-top: -100px;
    }
    to{
         margin-top: 0px;
    }
  }

  @keyframes bottom {
    from{
          margin-bottom: -180px;
    }
    to{
          margin-bottom: 0px;
    }
  }




.card-items{
    font-size: x-small;
    display: grid;
    grid-template-columns: auto;
   
}

.food-photo{
    float:right;
    
}

.card-heading{
    font-size: 20px;
   text-decoration: underline;
   animation-name: text;
   animation-duration: 1s;
   animation-delay: 1.5s;
   animation-timing-function: ease-in;
}

.ingredients{
    margin-left: 16px;

}

@keyframes text{
    from{
        margin-left: -70px;

    }
    to{
        margin-left: 0px;
    }
}



@media screen and (max-width:1050px){
    .container{
        width: 500px;
        height: 1710px;
    }

    .cards-container{
        display: grid;
  grid-template-columns: auto;
    }
}
